---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Blank from "../components/Blank.astro";
import App from "../components/App";
import Gallery from "../components/Gallery.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roofing 101</title>
  </head>
  <body>
    <Layout title="Home">
      <Header />
      <div class="wrapper">
        <App client:load />
        <br />
        <div class="content">
          <Gallery />
          <!-- <Blank
            title="NUESTROS SERVICIOS"
            body="Nos encargamos de cualquier problema con su techo, desde pequeñas fugas hasta daños graves. Ofrecemos reparaciones, instalaciones y mantenimiento con soluciones confiables y duraderas, restaurando la integridad y funcionalidad de su techo de manera eficiente."
          /> -->
          <h1 style="text-align: center;">Our Services</h1>
          <section class="card-container">
            <Card
              title="Reparacion de techos"
              body="Resolvemos cualquier problema con su techo, desde pequeñas fugas, hasta daños importantes"
              ico="fix-roof"
            />
            <Card
              ico="health"
              title="Techos de emergencia"
              body="Ofrecemos servicios de reparación de techos de emergencia para resolver problemas críticos de manera rápida y efectiva, sin importar el momento."
            />
            <Card
              ico="protect"
              title="Mantenimiento Preventivo"
              body="Mantenga su inversión en techos en condiciones óptimas con nuestros servicios de mantenimiento preventivo."
            />
            <Card
              ico="ins-roof"
              title="Instalación de Techos"
              body="Ofrecemos una amplia gama de opciones de materiales y estilos para adaptarse a sus necesidades y preferencias estéticas"
            />
          </section>
        </div>
      </div>
    </Layout>
  </body>
</html>

<style>
  .wrapper {
    margin-top: -80px;
    display: block;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
  }

  .wrapper .content {
    padding: 0 25px;
  }

  .card-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    height: max-content;
  }

  @media only screen and (max-width: 768px) {
    .card-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
</style>
