---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import App from "../components/App";
import Tile from "../components/Tile.astro";
import Footer from "../components/Footer.astro";
import About from "../components/about-component.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roofing 101</title>
  </head>
  <body>
    <Layout title="Home">
      <div class="wrapper">
        <App client:load />
        <br />
        <div class="content">
          <Tile />

          <section class="card-container">
            <Card
              title="Reparacion de techos"
              body="Resolvemos todo tipo de problemas en su techo, desde pequeñas fugas hasta daños mayores."
              ico="fix-roof"
            />
            <Card
              ico="health"
              title="Techos de emergencia"
              body="Ofrecemos servicios de reparación de techos de emergencia para resolver problemas críticos de forma rápida y efectiva, en cualquier momento."
            />
            <Card
              ico="protect"
              title="Mantenimiento Preventivo"
              body="Mantenga su inversión en techos en condiciones óptimas con nuestros servicios de mantenimiento preventivo."
            />
            <Card
              ico="ins-roof"
              title="Instalación de Techos"
              body="Ofrecemos una variedad de materiales y estilos para adaptarnos a sus necesidades y preferencias estéticas."
            />
          </section>
        </div>
        <About />
      </div>
      <Footer />
    </Layout>
  </body>
</html>

<style>
  .wrapper {
    margin-top: -80px;
    display: block;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
  }

  .wrapper .content {
    padding: 0 25px;
  }

  .card-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    height: max-content;
  }

  @media only screen and (max-width: 768px) {
    .card-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
</style>
