<div class="w-[full] h-fit flex justify-center">
  <div
    class="my-7 grid grid-cols-[repeat(2,_1fr)] grid-rows-[repeat(1fr)] sm:gap-x-[30px] gap-y-[0px] w-11/12 h-[70vh] px-8 py-4"
  >
    <div
      class="[grid-area:1_/_1_/_2_/_2] hidden lg:block h-full relative top-0 left-0 object-center"
    >
      <div
        class="bg-yellow-400 absolute w-fit top-[10%] left-[-10px] z-10 px-4 py-3 shadow-sm"
      >
        <ul class="text-black list-none leading-8 font-bold font-sans">
          <li>• Materiales duraderos y resistentes</li>
          <li>• Diseño adaptado y personalizado</li>
          <li>• Rapidez y eficiencia</li>
          <li>• Equipo certificado y profesional</li>
        </ul>
      </div>
      <img
        class="absolute object-cover h-full xl:w-full"
        src="../material/1.jpg"
        alt="demo"
      />
    </div>
    <div class="lg:[grid-area:1_/_2_/_2_/_2] [grid-area:1_/_1_/_2_/_3]">
      <span class="font-semibold text-lg text-yellow-400">About Us</span>
      <hr class="w-1/4 bg-yellow-400" />
      <br />
      <h1 class="text-4xl font-bold">Building security roof to roof</h1>
      <br />
      <p class="text-justify text-xl">
        Bienvenido a Roofing 101 Corp Expertos en Soluciones de Techos de Alta
        Calidad
      </p>
      <br />
      <p class="text-justify leading-10 text-xl">
        En Roofing 101 Corp, su tranquilidad y protección son nuestra prioridad.
        Confíe en nosotros para brindarle soluciones de roofing que superen sus
        expectativas, siempre con un enfoque en la seguridad, la integridad
        estructural y la estética de su propiedad.
      </p>
      <button
        class="bg-yellow-400 border-none mt-5 w-[200px] text-black p-2 rounded-sm font-bold"
        >Read more</button
      >
    </div>
  </div>
</div>
