---
const { title, body, ico } = Astro.props;
const path = "./icons/" + ico + ".png";
---

<div
  class="flex flex-col md:w-[80%] w-[100%] md:h-fit rounded mb-2 border-[solid] items-center gap-y-4 gap-x-3"
>
  <img
    class="w-[40px] p-1 bg-white rounded-[50%] transition-all duration-300 ease-in-out hover:scale-110"
    src={path}
    alt="fix"
  />
  <h1 class="font-bold text-xl text-center">
    {title}
  </h1>
  <p
    class="text-[#999999] text-center text-[18px] md:text-balance font-light md:text-base"
    style="font-family: Arial, Helvetica, sans-serif;"
  >
    {body}
  </p>
</div>

<style>
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }

  #card-container {
    animation: fade;
    animation-duration: 0.5s;
  }

  @keyframes fade {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }

    100% {
      opacity: 1;
      transform: translateY(-50px);
    }
  }
</style>
