---
const { title, body, ico } = Astro.props;
const path = "./icons/" + ico + ".png";
---

<div
  class="flex relative flex-col md:w-[20%] w-[100%] h-[28vh] md:h-[20vh] rounded mb-2 border-[solid] justify-center"
>
  <img
    class="w-[40px] absolute left-[45%] top-0 md:-top-1 md:-left-0 p-1 bg-white rounded-[50%] transition-all duration-300 ease-in-out hover:scale-110"
    src={path}
    alt="fix"
  />
  <h1 class="font-bold text-center md:text-start text-lg">{title}</h1>
  <p
    class="text-[#999999] text-center md:text-balance font-light text-base"
    style="font-family: Arial, Helvetica, sans-serif;"
  >
    {body}
  </p>
</div>

<script>
  window.addEventListener("resize", function () {
    // const width = window.innerWidth;
  });
</script>

<style>
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }

  #card-container {
    /* transition:
    opacity 1s ease-in-out,
    transform 1s ease-in-out; */
    animation: fade;
    animation-duration: 0.5s;
  }

  @keyframes fade {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }

    100% {
      opacity: 1;
      transform: translateY(-50px);
    }
  }
</style>
