---
const { source, title } = Astro.props;
---

<!-- <a
  id="button"
  class="inline-flex px-5 hover:bg-orange-600 h-[80px] leading-[80px]"
  href={source}
>
  <span>{title}</span>
</a> --><!-- <button
  id="navigateButton"
  class="inline-flex flex-row px-5 dark:hover:bg-orange-600 h-[70px] items-center hover:text-black"
>
  <span
    id="text"
    class="text-base hover:text-inherit group-hover:text-orange-500 dark:group-hover:text-orange-500 text-black"
    >{title}</span
  >
</button> -->
<style>
  #text {
    /* filter: invert(100%); */
  }
</style>

<script></script>
