<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
/>

<div
  class="w-screen flex-wrap h-[50vh] flex items-center justify-around bg-[#313131]"
>
  <div
    class="rate mb-2 w-96 h-72 bg-white py-6 px-6 rounded-md flex flex-col justify-between"
  >
    <div class="stars flex gap-2">
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
    </div>

    <div class="rate-content flex gap-2 flex-col justify-center items-start">
      <h1 class="text-2xl font-bold tracking-wider capitalize">Review title</h1>

      <p class="font-light tracking-widest text-black">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, nemo.
        Odio adipisci quia recusandae! Ipsam eum non itaque, inventore voluptate
        ut similique? Maiores recusandae distinctio a, reprehenderit
        consequuntur quod rerum.
      </p>
    </div>

    <div class="rater-info mb-2 flex gap-2 items-center">
      <div class="avatar w-12 h-12 shadow rounded-full overflow-hidden">
        <img
          src="https://beforeigosolutions.com/wp-content/uploads/2021/12/dummy-profile-pic-300x300-1.png"
          class="object-cover w-full h-full"
          alt=""
        />
      </div>

      <div class="flex-1 flex justify-around flex-col">
        <h1 class="font-bold text-lg tracking-wide text-black">
          [Client Name]
        </h1>
        <span class="font-light text-sm text-white"> [Client Occupation] </span>
      </div>
    </div>
  </div>

  <div
    class="rate mb-2 w-96 h-72 bg-white py-6 px-6 rounded-md flex flex-col justify-between"
  >
    <div class="stars flex gap-2">
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
    </div>

    <div class="rate-content flex gap-2 flex-col justify-center items-start">
      <h1 class="text-2xl font-bold tracking-wider capitalize">Review title</h1>

      <p class="font-light tracking-widest text-black">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, nemo.
        Odio adipisci quia recusandae! Ipsam eum non itaque, inventore voluptate
        ut similique? Maiores recusandae distinctio a, reprehenderit
        consequuntur quod rerum.
      </p>
    </div>

    <div class="rater-info mb-2 flex gap-2 items-center">
      <div class="avatar w-12 h-12 shadow rounded-full overflow-hidden">
        <img
          src="https://beforeigosolutions.com/wp-content/uploads/2021/12/dummy-profile-pic-300x300-1.png"
          class="object-cover w-full h-full"
          alt=""
        />
      </div>

      <div class="flex-1 flex justify-around flex-col">
        <h1 class="font-bold text-lg tracking-wide text-black">
          [Client Name]]
        </h1>
        <span class="font-light text-sm text-white"> [Client Occupation] </span>
      </div>
    </div>
  </div>

  <div
    class="rate mb-2 w-96 h-72 bg-white py-6 px-6 rounded-md flex flex-col justify-between"
  >
    <div class="stars flex gap-2">
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
      <i class="bi bi-star text-2xl text-slate-800"></i>
    </div>

    <div class="rate-content flex gap-2 flex-col justify-center items-start">
      <h1 class="text-2xl font-bold tracking-wider capitalize">Review title</h1>

      <p class="font-light tracking-widest text-black">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa
        facilis iusto ratione voluptas blanditiis laboriosam expedita
        temporibus, assumenda atque ducimus beatae aut veniam. Reiciendis rerum
        temporibus quasi assumenda accusamus!
      </p>
    </div>

    <div class="rater-info mb-2 flex gap-2 items-center">
      <div class="avatar w-12 h-12 shadow rounded-full overflow-hidden">
        <img
          src="https://beforeigosolutions.com/wp-content/uploads/2021/12/dummy-profile-pic-300x300-1.png"
          class="object-cover w-full h-full"
          alt=""
        />
      </div>

      <div class="flex-1 flex justify-around flex-col">
        <h1 class="font-bold text-lg tracking-wide text-black">
          [Client Name]
        </h1>
        <span class="font-light text-sm text-white"> [Client Occupation] </span>
      </div>
    </div>
  </div>
</div>
